<template>
    <div class="hello">
        <h1>{{ msg }}</h1>
        <h3>Nhiên's ecosystem</h3>
        <ul>
            <li><a href="https://nhiên.vn" target="_blank" rel="noopener">nhiên.vn</a></li>
            <li><a href="https://tudien.nhiên.vn" target="_blank" rel="noopener">tudien.nhiên.vn</a></li>
            <li><a href="https://suckhoe.nhiên.vn" target="_blank" rel="noopener">suckhoe.nhiên.vn</a></li>
        </ul>

        <li>hello</li>

        <highcharts :options="chartOptions"></highcharts>
    </div>
</template>

<script>

export default {
    name: 'HelloWorld',
    props: {
        msg: String,
    },
    data() {
        return {
            a: 1, 
            b: 1,
            chartOptions: {},
            category: [
                'Axit uric (umol/l)',
                'Creatinin (µmol/l)',
                'AST(GOT) (U/L)',
                'ALT(GPT) (U/L)',
                'Định lượng GGT (U/L)',
                'Canxi TP (mmol/l)',
            ]
        }
    },
    methods: {
    },
    mounted() {
        this.a = this.b;
        this.chartOptions = {
            colors: ['#4572A7', '#AA4643', '#89A54E', '#80699B', '#3D96AE', '#DB843D', '#92A8CD', '#A47D7C', '#B5CA92'],
            credits: {
                enabled: false
            },
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: '❤️️ Sinh hóa'
            },
            xAxis: [{
                categories: this.category
            }],
            yAxis: [
                {
                    visible: false,
                    title: {
                        text: 'Đơn vị',
                        style: {
                            color: '#a74545'
                        }
                    },
                    min: 0
                }, {
                    visible: false,
                    min: 0
                }],
            series: [
                {
                    name: 'Lần 1',
                    yAxis: 1,
                    type: 'column',
                    data: [57, 100]
                },
                {
                    name: 'Lần 2',
                    yAxis: 1,
                    type: 'column',
                    data: [55, 110]
                },
                {
                    name: 'Lần 3',
                    yAxis: 1,
                    type: 'column',
                    data: [50, 94]
                },
                {
                    name: 'Mức trung bình',
                },
                {
                    name: 'Mức trung bình',
                    type: 'errorbar',
                    yAxis: 1,
                    data: [[10, 100], [50, 120]]
                }
            ]
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

    $red: red;

    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: $red;
    }
</style>
